//============
// Footer
//============

footer{
    ul{
        list-style: none;
        padding: 0;
        li{
            a{
                text-decoration: none;
                &:hover{
                    color: $primary;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}
